body{
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: white;
  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.navbar{
  display: flex;
  top: 0;
  margin: 0;
  width: 100%;
  height: 60px;
  background-color: black;
  position: fixed;
  left: 0;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
}

.logo{
  margin-left: 20px;
  width: 40px;
  height: 40px;
  margin-top: 5px;
}

.navbar__links{
  width: 16em;
  align-items: center;
}

.navbar-ul{
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
}

.navbar__link{
  text-decoration: none;
  margin: 10px;
  color: white;
  font-weight: 800;
  left: 0;
}


.hero{
  display: flex;
  width: 100%;
  margin: 0;
  left: 0;
  height: calc(100vh);
  justify-content: center;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.aboutMe{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.aboutPhoto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.photoMe{
  width: 400px;
  height: 400px;
}

.aboutContent{
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.aboutContent > h2 {
  text-align: center;
}

.aboutName{
  font-size: 6em;
  color: #f4eded;
  margin: 0;
  text-align: center;
  font-weight: bold;
}

.about-icons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}

.about-icon-holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 150px;
  height: 150px;
  padding: 0;
  border-radius: 50%;
}

.about-icon{
  width: 90px;
  height: 90px;
  margin: 0;
  padding: 0;
  -webkit-filter: invert(100%); /* Safari/Chrome */
  filter: invert(100%);
}

.personal {
	height: calc(100vh - 60px) ;
	width: 100%;
	background: #f4eded;
	display: flex;
}

.personalText{
  display: flex;
  flex-direction: column;
  color: black;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}
.personalText >  h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  text-align: center;

  background: -webkit-linear-gradient(45deg, #09009f, #06a764 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.personalText > ul {
  font-size: 1.5rem;
}

.personalText > ul li{
  margin-bottom: 20px;
}

.rsm-svg{
  width: 50%;
  height: 100%;
}

.map-geography:focus {
  outline: none;
}

/* ____________________________________________________________ */
/* ____________________________________________________________ */
/* ____________________________________________________________ */
/* ____________________________________________________________ */
/* ____________________________________________________________ */
/* ____________________________________________________________ */

@media screen and (max-width: 868px) {
  .navbar {
    height: 60px;
  }
  
  .navbar__links {
    width: auto;
  }

  
  .navbar__link {
    margin: 5px;
    font-size: 14px;
  }
  
  .logo {
    width: 30px;
    height: 30px;
    margin-top: 10px;
  }
  
  .hero {
    height: auto;
    min-height: 100vh;
    flex-direction: column;
  }
  
  .aboutMe {
    padding-top: 50px;
    flex-direction: column;
    margin: 0 auto;
  }
  
  .photoMe {
    width: 300px;
    height: 300px;
  }
  
  .aboutContent {
    margin-top: 20px;
  }
  
  .aboutName {
    font-size: 3em;
  }

  .aboutText {
    margin: 0 auto;
    text-align: center;
  }
  
  .about-icon-holder {
    width: 100px;
    height: 100px;
    margin: 10px;
  }
  
  .about-icon {
    width: 70px;
    height: 70px;
  }

  .personal {
    flex-direction: column;
  }

  .rsm-svg{
    width: 100%;
    height: 80%;
  }

  .personalText >  h1 {
    font-size: 2rem;
    padding-top: 10px;
    text-align: center;
  }

  .personalText > ul {
    font-size: 1.3rem;
  }
  .personalText > ul li{
    margin-bottom: 10px;
  }
}
